@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* background-color: black; */
    background-color: #EFE8EB;
    margin: 0%;
    padding: 0%;
}

.banner{
    position: relative;
    height: 50px;
    width: 100vw;
    background-color: #CE0000;
    align-items: center;
    display: flex;
    z-index: 1;
    margin: 0%;
    padding: 0%;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

#menu{
    display: flex;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

#menu *{
    margin: 5px;
}

.sub_menu{
    /* display: flex; */
    position: absolute;
    margin-left: 70px;
    /* border: 2px solid gold; */
    /* width: 140px; */
    display: none;
    font-size: inherit;
    font-weight: inherit;
}

#menu:hover .sub_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* cursor: pointer; */
    /* background-color: black; */
}

.sub_menu a:hover{
    color: black;
}

.sub_menu *{
    margin: 2px;
}

.header{

}

.menu_button{
    /* position: absolute; */
    margin: 13px 10px;
    /* margin-left: 10px; */
    height: 25px;
    width: 50px;
    color: #CE0000;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    box-shadow: -2px 2px 4px #12121240;
    /* z-index: 2; */
    box-sizing: border-box;
    /* border: 2px solid black; */
}


/* this is where the body goes */

#faq_body{
    color: black;
    margin: 0px 70px;
    margin-top: 40px;
    /* height: 400px; */

    /* border: 2px solid red; */

}

.topic{
    background-color: white;
    border-radius: 8px;
    box-shadow: -4px 4px 12px #12121240;
    /* padding: 5px 5px; */
    min-height: 120px;
    padding: 10px 10px;
    margin-top: 20px;
    box-sizing: border-box;

}

.topic *{
    margin: 0%;
    padding: 0%;
    /* border-collapse: collapse; */
}

.question{
    color: #CE0000;
    font-size: 20px;
    margin-bottom: 5px;
}

.answer{
    /* border: 2px solid red; */
}